{
	"extends": [
		"airbnb-base",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"settings": {
		"import/extensions": [".js",".jsx",".ts",".tsx", "css", "scss"],
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx", "css", "scss"]
			}
		}
	},
	"env": {
		"node": true,
		"es6": true,
		"browser": true,
		"jest": true,
		"serviceworker": true
	},
	"plugins": [
		"babel",
		"jest",
		"@typescript-eslint"
	],
	"rules": {
		"no-tabs": "off",
		"no-irregular-whitespace": "warn",
		"comma-dangle": "off",
		"function-paren-newline": "off",
		"no-param-reassign": "off",
		"semi": ["error", "never"],
		"indent": ["error", "tab"],
		"import/first": "off",
		"import/order": "off",
		"import/prefer-default-export": "off",
		"object-curly-spacing": "off",
		"padded-blocks": "off",
		"spaced-comment": "off",
		"radix": "off",
		"no-restricted-globals": "off",
		"curly": "off",
		"lines-between-class-members": "off",
		"object-curly-newline": "off",
		"consistent-return": "off",
		"max-len": ["error", {"code":	120}],
		"arrow-parens": ["error", "as-needed"],
		"no-async-promise-executor": "off",
		"no-confusing-arrow": "off",
		"no-nested-ternary": "off",
		"no-return-assign": "off",
		"no-restricted-syntax": "off",
		"no-underscore-dangle": "off",
		"no-floating-decimal": "off",
		"prefer-destructuring": "off",
		"no-mixed-operators": "off",
		"no-return-await": "off",
		"no-plusplus": "off",
		"no-await-in-loop": "off",
		"no-void": "off",
		"no-continue": "off",
		"import/extensions": [
			"error",
			"ignorePackages",
			{
				"js": "never",
				"jsx": "never",
				"ts": "never",
				"tsx": "never",
				"css": "never",
				"scss": "never",
				"scss?no-local": "never"
			}
		],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/explicit-module-boundary-types": "off"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"useJSXTextNode": true,
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"modules": true,
			"jsx": true
		}
	},
	"globals": {
	}
}
